.container {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    filter: drop-shadow(5px 0 0 black) drop-shadow(0 5px 0 black)
      drop-shadow(-5px 0 0 black) drop-shadow(0 -5px 0 black);
  }
  .titleTexts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    h1,
    h2 {
      padding: 0;
      margin: 0;
    }
    h2 {
      font-size: 4rem;
      color: rgb(0, 0, 0, 0.5);
    }
  }
  a {
    color: #0070f3;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: underline;
    }
    &:active {
      text-decoration: underline;
    }
  }
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}
.description {
  text-align: center;
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}
.card {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 150px;
  &:hover {
    color: #0070f3;
    border-color: #0070f3;
  }
  &:focus {
    color: #0070f3;
    border-color: #0070f3;
  }
  &:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
@media (max-width: 600px) {
  .title {
    flex-direction: column;
    .titleTexts {
      flex-direction: column;
      max-height: calc(100% - 30px);
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
  }
  .grid {
    width: 100%;
  }
}

.shimmer {
  position: relative;
  font-weight: bold;
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.inline {
  position: relative;
  display: inline-block;
}

[data-theme="dark"] {
  .profile {
    filter: drop-shadow(5px 0 0 white) drop-shadow(0 5px 0 white)
      drop-shadow(-5px 0 0 white) drop-shadow(0 -5px 0 white);
  }
  .features {
    color: #fff;
  }
  .svg {
    fill: #fff;
  }
}

.darkModeToggle {
  position: sticky;
  top: 0;
}
